{{#each this}}
<div class="col-xs-12 col-md-6">
  <div class="caption">	 
	  <div>	
      <h1>Currently</h1>
      <h2>{{current.[0].main}}<span><img src="{{icon}}"></img></span></h2>
  	  <h2>{{temp}}&deg;F</h2>
  	  <h3>{{pressure}} hPa</h3>
      <h4>{{speed}} m/s</h4>
  	</div>
    <button type="button" id={{this.coord}} class="threeDayBtn">3 Day</button>
    <button type="button" id={{this.coord}} class="sevenDayBtn">7 Day</button>
  </div>
</div>  
{{/each}}